body{
    font-family:Raleway,Arial,sans-serif,'Comic Sans MS';
}
.doc{
    padding:100px 0;
}
.doc h1{
    font-size:40px;
    font-weight:900;
    text-align:center;
    margin-bottom:30px;
    color:#2b2a2a;
}
.doc h1 span{
    display:inline-block;
    padding:20px 10px;
    margin-left:10px;
    color:#FFCB16;
    border:1px solid #FFCB16;
}
.doc p{
    font-size:14px;
    font-weight:400;
    line-height:30px;
    margin:30px 0;
}
.doc p.note{
    padding:20px;
    background-color:#FFCB16;
    color:black;
}
.doc img{
    border:1px solid #e1e1e1;
}

.doc .heading{
    padding:50px 0;
}
.doc h2 {
    position: relative;
    padding:0 0 20px;
    text-align: left;
    font-size: 30px;
    font-weight: 800;
}
.doc h2:after{
    content:"";
    position:absolute;
    width:80px;
    height:2px;
    background-color:#FFCB16;
    top:40px;
    left:10px;
}
.doc h2:before{
    content:"";
    position:absolute;
    width:40px;
    height:2px;
    background-color:#FFCB16;
    top:50px;
    left:30px;
}


.thanks p{
    margin-top:20px;
    font-size:15px;
}
.thanks p span{
    font-weight:900;
}